@import '../../node_modules/hiq/dist/hiq.min.css';

:root{
    --hiq-color-primary: #62BBC1;
    --hiq-body-background-color: #010400;
    --hiq-html-background-color: #010400;
    --hiq-text-color: #FFFBFC;
    --hiq-horizontal-rule-color: var(--hiq-text-color);

    --hiq-font-family-base: 'Open Sans', sans-serif;
    --font-family-serif: 'Playfair Display', serif;

    
    --hiq-color-danger: #EC058E;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: var(--hiq-body-background-color);
    filter: brightness(90%);
    padding: 3rem;
}
button.is-danger {
    --button-border-color: var(--hiq-color-danger);
    --button-background-color: var(--hiq-color-danger);
    --button-text-color: white;
  }
  
.family-secondary{
    font-family: var(--font-family-serif);
}
h1{
    margin-bottom: 1rem;
}
.pad-top{
    padding-top: 2rem;
}

.is-large{ height: 4rem;}
.is-medium{ height: 3rem; }
.is-fullwidth{
    width: 100%;
}
.header{
    display: flex;
}
.header .is-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.score{
    font-size: 2.4rem;
}   
.option{
    margin-bottom: 1rem;
}
button.next{
    border-radius: 30px;
}
.number{
    font-size: 2.4rem;
}
p.score{
    background-color: rgb(52, 170, 52);
    color: white;
    padding: 10px;
    border-radius: 10px;
}